<mat-card>
  <mat-card-title>
    <h2>Job: {{jobInfo.name}}</h2>
  </mat-card-title>
  <mat-card-content>
    <h5>Company: {{jobInfo.company}}</h5>
    <h5>Skills: {{jobInfo.skills}}</h5>
    <button mat-raised-button color="primary" (click)="getBestCandidate(jobInfo.jobId)">Get Best Candidate</button>
    <div *ngIf="isLoading" class="footer">
      -Loading-
    </div>
  </mat-card-content>
  <mat-card-footer *ngIf="bestCandidate != undefined" class="footer">
    <app-candidate-info [bestCandidate]="bestCandidate"></app-candidate-info>
  </mat-card-footer>
</mat-card>
